@import url('https://fonts.googleapis.com/css2?family=Montserrat+Underline:ital,wght@0,100..900;1,100..900&display=swap');

.header {
    position: relative;
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;

    h1 {
        font-family: "Montserrat Underline", sans-serif;
        color: #091D9E;
        font-weight: 500;
        cursor: pointer;
        &:hover {
            color: #364bd6;
        }
        &:active {
            transform: scale(0.95);
        }
    }

    input {
        width: 100%;
        max-width: 745px;
        height: 40px;
        background-color: #DEDEDE;
        border-radius: 8px;
        padding: 13px 13px 13px 35px;
        border: 0;
        outline: none;
    }

    ul {
        display: flex;
        gap: 25px;
        li {
            display: flex;
            flex-direction: column;
            align-items: center;
            cursor: pointer;
            transition: transform 0.1s ease-in-out;
            &:hover {
                transform: translateY(-2px);
            }
        }
    }
    img {
        width: 20px;
        height: 22px;
    }
    p {
        font-size: 14px;
        font-weight: 300;
    }
}

.searchInput {
    max-width: 750px;
    width: 100%;
    margin: 0 20px;
    position: relative;
    img {
        width: 16px;
        height: 16px;
        position: absolute;
        top: 50%;
        left: 8px;
        transform: translateY(-50%)
    }
}

.headerLine {
    position: absolute;
    top: 100%;     
    width: 100vw;       
    height: 1px;        
    background-color: rgba(0, 0, 0, 0.1);
  }