.stockCard {
    position: relative;
    margin-top: 25px;
    width: 210px;
    height: 431px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    cursor: pointer;
    &:hover {
        .about {
            color: red;
        }
    }

    .stockImg {
        border-radius: 10px;
        max-width: 170px;
        max-height: 215px;
    }

    .stock {
        position: absolute;
        right: 5px;
        border-radius: 8px;
        padding: 12px 8px;
        background-color: #EBBA1A;
        font-size: 17px;
        font-weight: 500;
    }

    .about {
        max-width: 190px;
        text-align: center;
        font-size: 18px;
        font-weight: 500;
    }

    .price {
        max-width: 190px;
        margin-right: 10px;
        h1 {
            font-size: 20px;
        }
        p {
            font-size: 14px;
        }
        display: flex;
        align-items: baseline;
        gap: 8px;
    }

    .favorite {
        display: flex;
        gap: 58px;
        align-items: center;
        img {
            
            cursor: pointer;
            &:active {
                transform: scale(1.1);
            }
        }
    }

    button {
        padding: 15px 50px;
        border-radius: 8px;
        background-color: #091D9E;
        border: none;
        color: #F6F6F6;
        font-size: 15px;
        font-weight: 500;
        cursor: pointer;
        &:active {
            transform: scale(0.95);
        }
    }
}